@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sora {
  font-family: "Sora", sans-serif;
}

/* swiper js  */
/* .swiper {
  height: 350px !important;
} */
.swiper-pagination-bullets {
  margin-top: 50px !important;
}
.vaccine-thumb {
  position: relative;
}
.vaccine-thumb:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 65%;
  background: linear-gradient(90deg, #03afe5 0%, rgba(3, 175, 229, 0) 100%);
  left: 0;
  top: 0;
}
.bg-img {
  background-image: url("./assets/breadcrumb-bg.jpg");
  height: 250px;

  background-size: cover;
}

/* play button  */

/* ROJO POGI PLAY BUTTON */

.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ff4c60;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: #4696f1;
}
.video-play-button:before {
  content: "";
  color: #fff;
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid black;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}
.video-play-button:hover span {
  border-left: 32px solid rgb(255, 255, 255);
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.barCompleted {
  background-color: rgb(48, 189, 236);
  width: 80%;
}
.label {
  font-size: 14px;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: rgb(255, 255, 255);
}
.table {
  width: 1240px;
  overflow: scroll;
}
