@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sora {
  font-family: "Sora", sans-serif;
}

/* swiper js  */
/* .swiper {
  height: 350px !important;
} */
.swiper-pagination-bullets {
  margin-top: 50px !important;
}
.vaccine-thumb {
  position: relative;
}
.vaccine-thumb:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 65%;
  background: linear-gradient(90deg, #03afe5 0%, rgba(3, 175, 229, 0) 100%);
  left: 0;
  top: 0;
}
